<div class="container mt-3">
    <form [formGroup]="addForm">
        
        <div class="form-group">
          <label for="nom">Titre :</label>
          <input [class.is-invalid]="addForm.get('titre').invalid && 
                                     addForm.get('titre').touched" formControlName="titre" type="text" class="form-control" id="nom" placeholder="Ajouter un titre à votre publication">
        
          <div *ngIf="addForm.get('titre').invalid && addForm.get('titre').touched">
            <small *ngIf="addForm.get('titre').errors?.required" class="text-danger">Il faut ajouter un titre !</small>
          </div>
        </div>

        <div class="form-group">
            <label>Publication :</label>
            <textarea [class.is-invalid]="addForm.get('description').invalid && 
                                          addForm.get('description').touched" formControlName="description" class="form-control" id="bio" rows="3" placeholder="Ajouter une description"></textarea>

            <div *ngIf="addForm.get('description').invalid && addForm.get('description').touched">
              <small *ngIf="addForm.get('description').errors?.required" class="text-danger">Il faut ajouter une description !</small>
            </div>
        </div>
          
        <div class="form-group">
          <label>Catégorie :</label>
          <select [class.is-invalid]="addForm.get('categorie').invalid && 
                                      addForm.get('categorie').touched" formControlName="categorie"  id="selection" class="form-control">
            <option value="">Choisissez une catègorie</option>
              <option value="sport">Sport</option>
              <option value="technologies">Technologies</option>
              <option value="economie">Economies</option>
              <option value="societe">Socièté</option>
              <option value="culture">Culture</option>
          </select>

          <div *ngIf="addForm.get('categorie').invalid && addForm.get('categorie').touched">
            <small *ngIf="addForm.get('categorie').errors?.required" class="text-danger">Il faut choisir une catégorie !</small>
          </div>
        </div>

        <button [disabled]="!addForm.valid" class="btn btn-success" type="submit" (click)="add()">+ Ajouter</button>

    </form>
<div>